
@font-face {
    font-family: 'almoni_tzar_aaaregular';
    src: url('./web-fontkit/almoni-tzar-aaa-regular.woff2') format('woff2'),
         url('./web-fontkit/almoni-tzar-aaa-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@800&family=Heebo:wght@400;700&family=Poppins:wght@200;300;400;500;600;700;800&family=Varela+Round&display=swap');

// css reset

*, *::before, *::after {
    box-sizing: border-box;
}

*{
    font-family:'almoni_tzar_aaaregular', 'Heebo', 'Varela Round';
    margin: 0;
    padding: 0;
    direction: rtl;
}

.fa-solid{
    font-family: default;
}

h1.--border-bottom { font-size:2.5em;position: relative; display: inline-block; color: rgb(53, 53, 53); }
h1.--border-bottom::after { border-bottom: 3px solid #C8E2C3; border-radius: 3px; content: ""; position: absolute; width: calc(100% + 2.5em); bottom: -.5em; left: 50%; transform: translateX(-50%); }
h1.--border-bottom.--yellow::after{ border-radius: 5px; border-bottom: 3px solid rgb(235,224,187);}


html, body {
    height: 100%;
    background-color: #f4f4f4;
}

//nav
  nav {
    width: 100%;
    height: 7em;
    backdrop-filter: blur(15px);
    position: fixed;
    box-shadow: 1px 0px 10px rgba(0, 0, 0, 0.450);
    z-index: 10;

    .nav-background {
        position: absolute;
        background:white;
        opacity: .3;
        width: 100%;
        height: 100%;
    }

    ul {
        height: 100%;
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: flex-end;
        position: absolute;

        li {
            margin-bottom: .5em;
            list-style: none;
            text-decoration: none;
            margin-right: 2em;
            color: black;
            font-size: 1.3em;

            &:nth-child(1){
                margin-right: 2.5em;
            }
        }
    }   

    .logo-wrapper {
        width: 10em;
        height: 10em;
        border-radius: 5em;
        background-color: rgb(235,224,187);
        position: absolute;
        top: 2em;
        left: 50%;
        transform: translateX(-50%);

        img{
            position: absolute;
            bottom: 53%;
            transform: translateY(50%);
            right: 10px;
        }

    }
  }

//img & hero wrapper
  .hero-wrapper {
    position: relative;
    width: 100vw;
    height: auto;

    img {
        width: 100%;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }


  }

// hero text
  .hero-wrapper__text {
    position: absolute;
    top: 0;
        width: 100%;
        height: 100%;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        
    h1,h2,h3{
        position: absolute;
    }
    h1 {
        color: white;
        font-size: 4em;
        top: 25%;
    }

    h2{
        color: rgb(235,224,187);    
        font-size: 3em;
        top: 45%;
    }
    h3{
        color: rgb(235,224,187);  
        font-size: 5em;
        top: 50%;
    }
  }

//dots
.dots {
    width: 100%;
    height: 10em;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;

    span {
        width: 5px;
        height: 5px;
        border-radius: 10px;
        background-color: #C8E2C3;
        padding: 5px;
    }
}

.dots .--yellow {
    background-color: rgb(235,224,187);
}



//project-section
.project-section, .__container {
    text-align: center;    
    width: 100%;
    height: 86vh;
    position: relative;

    .project-section__wrapper {
        width: 70%;
        height: 80%;
        background-color: rgb(235,235,235);
        position: absolute;
        bottom: 35px;
        right: 50%;
        transform: translateX(50%);
    }
}


//appartments-section
.appartments-section {

    background-color: #464232;

    h1{
        font-size: 2.3rem;
        margin-top: .5em;
        color: rgb(235,224,187);
    }

    h1::after {
        border-bottom: 3px solid rgb(235,224,187);
    }

    .appartments-section__wrapper {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: space-between;
        margin-top: -5px;
        
        
        h1 {
            
            font-size: 2em;
            display: flex;
            flex-direction: column;
            margin-top: -1px;

            span {
                font-size: .6em;
                color: rgba(235, 224, 187, 0.808) ;
            }

            &:nth-child(3) {
                margin-top: .3em;
                font-size: 2.2em;
            }
        }



        .cards {
            background-color: rgb(46, 46, 46);
            gap: 1em;
            width: 25em;
            height: 16em;
            margin-top:4em ;
            position: relative;
            padding-top: 10px;
            padding-bottom: 2em;
            padding-right: 1em;
            padding-left: 1em;
            
            span{
                img {
                    width: 100%;
                }
            }

        }

        .__active {
            height: 24em;
            width: 30em;
        }
    }
}

.arrows-container {
    display: flex;
    flex: row nowrap;
    align-items: center;
    justify-content: center;
    gap: 6rem;

    .fa-solid {
        text-align: center;
        color: rgb(235,224,187);
        font-size: 1.5em;
    }
}

//appartments-section__info
.appartments-section__info {
    position: relative;
    overflow-x: hidden;

    h1 {
        margin-top: 1em;
    }
    .info__wrapper {
        width: 100%;
        height: 100%;
        position: relative;
        margin-top: -5em;
        background-image: url(/images/appartments-info.svg);
        background-size:auto;
        background-repeat: no-repeat;
        background-position-x: center;
    


        .img-circle {
            position: absolute;
            width: 30em;
            height: 30em;
            left: -5em;
            top: 12%;
            
            img {
                width: 100%;
                height: 100%;
                border-radius:30em;
                transform:scaleX(-1);
            }
        }
    }

    .appartments-info__text {
        width: 100%;
        height: 100%;
        text-align: right;

        
        ul {
            position: relative;
            top: 8em;
            right: -6em;
            li {
                margin-bottom: 10px;
                margin-right: 20%;
                font-size: 1.4em;
            }

        }

    }

}

//building-section__info

//environment-section


// fixed contact form
  .fixed-contact {
    display: inline-flex;
    flex-flow: row nowrap;
    align-items: center;
    text-align: right;
    width: 100vw;
    height: 5rem;
    background-color: #65AE87;
    position: fixed;
    bottom: 0;
    z-index: 10;

    .fixed-contact__wrapper {
        position: relative;
        display: inline-flex;
        align-items: center;
        text-align: right;
        width: 100%;
        height: 80%;

        .fixed-contact__text {
            display: inline-block;
            color: white;
            width: auto;
            margin-right: 1rem;
            margin-left: 3vw;
            font-size: 1.5em;
        }

        .fixed-contact__inputs {
            display: inline-block;
        
            span {
                margin-left: 1vw;
            }
            span label {
                position: absolute;
                bottom: 3vh;
                margin-right: 1vw;
                color: rgb(89, 89, 89); 
            }
        
            span input[type="text"] {
                display: inline-block;
                border: none;
                height: 6vh;
                width: 16vw;
                font-size: 1.3em;
                outline: none;
                padding: .5em;
                color: rgb(46, 46, 46); 
                
            }
        }

        button {
            position: absolute;
            left: 0;
            height: 2em;
            width: 6em;
            border: none;
            border-radius: 2px;
            color: white;
            font-size: 1.5em;
            background-color: rgb(53, 53, 53);
            margin-right: auto;
            margin-left: 4vw;
        }
    }

    //__checkbox & his text(label)

[type="checkbox"]{
    display: none;
}

._checkbox-container {
    position: relative;
}

[type="checkbox"] + label {
    cursor: pointer;
    user-select: none;
}

[type="checkbox"] + label::before {
    content: "";
    position: absolute;
    bottom: -15px;
    background-color: #ffffff;
    width: 1.3rem;
    height: 1.3rem;
    cursor: pointer;
    border-radius: 3px;
    transition: .2s linear;    
}
input[type="checkbox"] + label:hover::before {
    background-color: rgb(235,224,187);
    transition: .2s ease-in-out;
}

[type="checkbox"]:checked + label::before {
    content: "";
    position: absolute;
    background-color: rgb(235,224,187);
    width: 1.3rem;
    height: 1.3rem;
    cursor: pointer;
    border-radius: 3px;
    transition: .2s ease;
    transform: scale(0.9);

}


.fixed-contact__checkbox {
    display: inline-flex;
    position: relative;
    width: 20em;
    input {
        width: 1.5em;
        height: 1.5em;
        position: absolute; 
        bottom: 2.5vh;  
        border: none;
    }
    label h3 {
        margin-right: 2em;
        position: absolute;
        color: white;
        font-size: 1em;
    }

}

    
  }


