@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@800&family=Heebo:wght@400;700&family=Poppins:wght@200;300;400;500;600;700;800&family=Varela+Round&display=swap");
@font-face {
  font-family: 'almoni_tzar_aaaregular';
  src: url("./web-fontkit/almoni-tzar-aaa-regular.woff2") format("woff2"), url("./web-fontkit/almoni-tzar-aaa-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  font-family: 'almoni_tzar_aaaregular', 'Heebo', 'Varela Round';
  margin: 0;
  padding: 0;
  direction: rtl;
}

.fa-solid {
  font-family: default;
}

h1.--border-bottom {
  font-size: 2.5em;
  position: relative;
  display: inline-block;
  color: #353535;
}

h1.--border-bottom::after {
  border-bottom: 3px solid #C8E2C3;
  border-radius: 3px;
  content: "";
  position: absolute;
  width: calc(100% + 2.5em);
  bottom: -.5em;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

h1.--border-bottom.--yellow::after {
  border-radius: 5px;
  border-bottom: 3px solid #ebe0bb;
}

html, body {
  height: 100%;
  background-color: #f4f4f4;
}

nav {
  width: 100%;
  height: 7em;
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  position: fixed;
  -webkit-box-shadow: 1px 0px 10px rgba(0, 0, 0, 0.45);
          box-shadow: 1px 0px 10px rgba(0, 0, 0, 0.45);
  z-index: 10;
}

nav .nav-background {
  position: absolute;
  background: white;
  opacity: .3;
  width: 100%;
  height: 100%;
}

nav ul {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: absolute;
}

nav ul li {
  margin-bottom: .5em;
  list-style: none;
  text-decoration: none;
  margin-right: 2em;
  color: black;
  font-size: 1.3em;
}

nav ul li:nth-child(1) {
  margin-right: 2.5em;
}

nav .logo-wrapper {
  width: 10em;
  height: 10em;
  border-radius: 5em;
  background-color: #ebe0bb;
  position: absolute;
  top: 2em;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

nav .logo-wrapper img {
  position: absolute;
  bottom: 53%;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  right: 10px;
}

.hero-wrapper {
  position: relative;
  width: 100vw;
  height: auto;
}

.hero-wrapper img {
  width: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-wrapper__text {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero-wrapper__text h1, .hero-wrapper__text h2, .hero-wrapper__text h3 {
  position: absolute;
}

.hero-wrapper__text h1 {
  color: white;
  font-size: 4em;
  top: 25%;
}

.hero-wrapper__text h2 {
  color: #ebe0bb;
  font-size: 3em;
  top: 45%;
}

.hero-wrapper__text h3 {
  color: #ebe0bb;
  font-size: 5em;
  top: 50%;
}

.dots {
  width: 100%;
  height: 10em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dots span {
  width: 5px;
  height: 5px;
  border-radius: 10px;
  background-color: #C8E2C3;
  padding: 5px;
}

.dots .--yellow {
  background-color: #ebe0bb;
}

.project-section, .__container {
  text-align: center;
  width: 100%;
  height: 86vh;
  position: relative;
}

.project-section .project-section__wrapper, .__container .project-section__wrapper {
  width: 70%;
  height: 80%;
  background-color: #ebebeb;
  position: absolute;
  bottom: 35px;
  right: 50%;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}

.appartments-section {
  background-color: #464232;
}

.appartments-section h1 {
  font-size: 2.3rem;
  margin-top: .5em;
  color: #ebe0bb;
}

.appartments-section h1::after {
  border-bottom: 3px solid #ebe0bb;
}

.appartments-section .appartments-section__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: -5px;
}

.appartments-section .appartments-section__wrapper h1 {
  font-size: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: -1px;
}

.appartments-section .appartments-section__wrapper h1 span {
  font-size: .6em;
  color: rgba(235, 224, 187, 0.808);
}

.appartments-section .appartments-section__wrapper h1:nth-child(3) {
  margin-top: .3em;
  font-size: 2.2em;
}

.appartments-section .appartments-section__wrapper .cards {
  background-color: #2e2e2e;
  gap: 1em;
  width: 25em;
  height: 16em;
  margin-top: 4em;
  position: relative;
  padding-top: 10px;
  padding-bottom: 2em;
  padding-right: 1em;
  padding-left: 1em;
}

.appartments-section .appartments-section__wrapper .cards span img {
  width: 100%;
}

.appartments-section .appartments-section__wrapper .__active {
  height: 24em;
  width: 30em;
}

.arrows-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: row;
      -ms-flex: row nowrap;
          flex: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 6rem;
}

.arrows-container .fa-solid {
  text-align: center;
  color: #ebe0bb;
  font-size: 1.5em;
}

.appartments-section__info {
  position: relative;
  overflow-x: hidden;
}

.appartments-section__info h1 {
  margin-top: 1em;
}

.appartments-section__info .info__wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  margin-top: -5em;
  background-image: url(/images/appartments-info.svg);
  background-size: auto;
  background-repeat: no-repeat;
  background-position-x: center;
}

.appartments-section__info .info__wrapper .img-circle {
  position: absolute;
  width: 30em;
  height: 30em;
  left: -5em;
  top: 12%;
}

.appartments-section__info .info__wrapper .img-circle img {
  width: 100%;
  height: 100%;
  border-radius: 30em;
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
}

.appartments-section__info .appartments-info__text {
  width: 100%;
  height: 100%;
  text-align: right;
}

.appartments-section__info .appartments-info__text ul {
  position: relative;
  top: 8em;
  right: -6em;
}

.appartments-section__info .appartments-info__text ul li {
  margin-bottom: 10px;
  margin-right: 20%;
  font-size: 1.4em;
}

.fixed-contact {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: right;
  width: 100vw;
  height: 5rem;
  background-color: #65AE87;
  position: fixed;
  bottom: 0;
  z-index: 10;
}

.fixed-contact .fixed-contact__wrapper {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: right;
  width: 100%;
  height: 80%;
}

.fixed-contact .fixed-contact__wrapper .fixed-contact__text {
  display: inline-block;
  color: white;
  width: auto;
  margin-right: 1rem;
  margin-left: 3vw;
  font-size: 1.5em;
}

.fixed-contact .fixed-contact__wrapper .fixed-contact__inputs {
  display: inline-block;
}

.fixed-contact .fixed-contact__wrapper .fixed-contact__inputs span {
  margin-left: 1vw;
}

.fixed-contact .fixed-contact__wrapper .fixed-contact__inputs span label {
  position: absolute;
  bottom: 3vh;
  margin-right: 1vw;
  color: #595959;
}

.fixed-contact .fixed-contact__wrapper .fixed-contact__inputs span input[type="text"] {
  display: inline-block;
  border: none;
  height: 6vh;
  width: 16vw;
  font-size: 1.3em;
  outline: none;
  padding: .5em;
  color: #2e2e2e;
}

.fixed-contact .fixed-contact__wrapper button {
  position: absolute;
  left: 0;
  height: 2em;
  width: 6em;
  border: none;
  border-radius: 2px;
  color: white;
  font-size: 1.5em;
  background-color: #353535;
  margin-right: auto;
  margin-left: 4vw;
}

.fixed-contact [type="checkbox"] {
  display: none;
}

.fixed-contact ._checkbox-container {
  position: relative;
}

.fixed-contact [type="checkbox"] + label {
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.fixed-contact [type="checkbox"] + label::before {
  content: "";
  position: absolute;
  bottom: -15px;
  background-color: #ffffff;
  width: 1.3rem;
  height: 1.3rem;
  cursor: pointer;
  border-radius: 3px;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}

.fixed-contact input[type="checkbox"] + label:hover::before {
  background-color: #ebe0bb;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

.fixed-contact [type="checkbox"]:checked + label::before {
  content: "";
  position: absolute;
  background-color: #ebe0bb;
  width: 1.3rem;
  height: 1.3rem;
  cursor: pointer;
  border-radius: 3px;
  -webkit-transition: .2s ease;
  transition: .2s ease;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.fixed-contact .fixed-contact__checkbox {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: relative;
  width: 20em;
}

.fixed-contact .fixed-contact__checkbox input {
  width: 1.5em;
  height: 1.5em;
  position: absolute;
  bottom: 2.5vh;
  border: none;
}

.fixed-contact .fixed-contact__checkbox label h3 {
  margin-right: 2em;
  position: absolute;
  color: white;
  font-size: 1em;
}
/*# sourceMappingURL=style.css.map */